.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding: 10rem 3rem 0 3rem;
}

.accountIcon {
  font-size: 4rem;
  color: #28b492;
}

.signupTitle {
  font-size: 2.5rem;
  margin-top: 0.3rem;
  color: #28b492;
}

.signupForm {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-top: 0.6rem;
  width: 100%;
}

.passwordBoxPosition,
.emailBoxPosition,
.usernameBoxPosition {
  display: flex;
  justify-content: center;
}

.emailBox,
.passwordBox,
.usernameBox {
  width: 100%;
  max-width: 30rem;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  margin-top: 1.5rem;
  border-radius: 2rem;
  background-color: transparent;
}

.signupBtnPlace {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 1.5rem;
}

.signupBtn {
  border: 2px solid #28b492;
  background-color: #28b492;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.signupBtn:hover {
  background-color: #fff;
  color: #28b492;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.alreadySignup {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
}
