html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'PT Serif', serif; */
  font-family: 'Cormorant Garamond', serif;
  font-size: 10px;
  background-color: #eeeeee;
}

h1 {
  font-weight: bold;
  margin: 0;
}

* {
  box-sizing: border-box;
}

input {
  border: 2px solid #000000;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #eeeeee inset;
}
