.feed {
  border-left: 1px solid rgb(174, 174, 174);
  border-right: 1px solid rgb(174, 174, 174);
  flex-grow: 1;
  max-width: 720px;
}

@media screen and (min-width: 640px) {
  .feed {
    margin-left: 4.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .feed {
    margin-left: 310px;
    min-width: 720px;
  }
}

.Home {
  position: sticky;
  padding: 0.5rem 0.75rem;
  top: 0;
  z-index: 50;
  background-color: #eeeeee;
  border-bottom: 1px solid rgb(174, 174, 174);
}

.title {
  font-weight: 700;
  cursor: pointer;
}
