.post {
  display: flex;
  padding: 0.75rem;
  cursor: pointer;
  border-bottom: 1px solid rgb(174, 174, 174);
}

.userImage {
  margin-right: 1rem;
}

.rightSide {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.userName {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 17px;
}

.userName:hover {
  text-decoration: underline;
}

.time {
  font-size: 0.875rem;
}

.time:hover {
  text-decoration: underline;
}

.url {
  margin-left: 0.5rem;
}

.heart {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 0 5rem;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  color: #4a5568;
}

.icon {
  cursor: pointer;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.icon:hover {
  background-color: #c7ced7;
  color: #28b492;
}

.changeIcon {
  color: #e53e3e;
}

.totalLikes {
  color: #e53e3e;
  user-select: none;
  font-size: 0.875rem;
}
