.sidebar {
  display: none;
  position: fixed;
  height: 100%;
}

.postBtnPosition {
  margin-top: 1rem;
  margin-left: -1.5rem;
}

.postBtn {
  background-color: #28b492;
  color: #fff;
  border: 2px solid #28b492;
  width: 10rem;
  height: 3rem;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  display: none;
}

.postBtn:hover {
  background-color: #fff;
  color: #28b492;
}

.signOut,
.signIn {
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 3rem;
  margin-left: 0.2rem;

  display: none;
}

@media screen and (min-width: 640px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 3rem 0.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .sidebar {
    align-items: flex-start;
    padding: 3rem 5.5rem;
  }
  .sidebarMenuItems {
    align-items: flex-start;
  }
  .postBtn {
    display: inline;
  }
  .signOut,
  .signIn {
    display: inline;
  }
}
