.logo {
  margin-bottom: 1.6rem;

  cursor: pointer;
  border-radius: 9999px;
  width: 52px;
  height: 52px;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .logo {
    justify-content: flex-start;

    width: auto;
    height: auto;
    padding: 0.75rem 0rem;
  }
}

.logo:hover {
  background-color: rgb(40, 180, 146, 0.2);
}

.CheckIcon {
  display: none;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .title {
    display: none;
  }
  .CheckIcon {
    display: inline;
    font-size: 2.5rem;
    margin-left: 0.6rem;
    color: #28b492;
  }
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 2rem;
}

.title::before {
  content: '✔︎';
  color: #28b492;
}
